

.azeret-mono-azret {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */


.btn{
    font-weight: 600;
    color:rgb(255, 255, 255);
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    font-size: 20px;
    background-color: rgb(13, 19, 33);
    border-radius: 8px; 
    margin-top: 32px;
    margin-bottom: 38px;
}

.section-title{
    font-size: 32px;
    font-weight: 800px;
    color: rgb(13, 19, 33);
}
.text-center{
    text-align: center;
    
}
/* header */
.header{
    background-image: url("../styles/assets/Hero-bg.png");
    margin-top: 131px;
    margin-bottom: 118px;
    padding-top: 26px;
    padding-bottom: 32px;
    background-position: center;
    background-position: no-repeat;
    
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.nav-title{
    font-weight: 800;
    font-size: 28px;
}
nav ul li {
    list-style: none;
}
/* banner styles */
.banner{
    display:flex;
    justify-content: center;
    margin: 26px 221px 44px 221px;
}
.banner-title{
   font-weight: 800;
   font-size: 25px;
   max-width: 798px;
   text-align: center;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    padding: 24px;
    padding-bottom: 12px;
}
.banner-profile{
    width: 240.28px;
}
/* section styles */
.section-2{
    justify-content: center;
}
.section-6{
    padding-bottom: 25px;
}
.youtube{
    justify-content: center;
    align-items: center;
}
/* skills section */
.skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    padding: 40px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0,0,0.06);
}
/* footer styles */
footer{
    padding: 130px 230px;
    display: grid;
    gap: 100px;
    background-image: url(assets/handshake.jpg);
}

footer input[type="text"]{
    height: 64px;
    border-radius: 5px;
    background-color: aliceblue;
    display: flex;
    width: 50%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
.btn-sec{
    size: 30px;
}